@font-face {
  font-family: 'Circular';
  font-weight: 700;
  src: url('/fonts/CircularXXWeb-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PretendardVariable';
  font-weight: 100 900;
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-display: swap;
}
