@use './breakpoints.scss' as bp;

@mixin text-variant($font-size, $line-height, $font-weight, $letter-spacing, $pc-font-size: null) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;

  @if $pc-font-size {
    @include bp.pc-view {
      font-size: $pc-font-size;
    }
  }
}
