@use '@/styles/abstract/button' as button;
@use '@/styles/abstract/colors' as colors;

.button {
  @include button.button-base;
}

// 순서: $width, $height, $padding
.variant {
  &-XL {
    @include button.button-variant(56px, 17px 19px 17px 19px);
  }
  &-L {
    @include button.button-variant(48px, 13px 14px 13px 14px);
  }
  &-M {
    @include button.button-variant(40px, 9px 14px 9px 14px);
  }
  &-S {
    @include button.button-variant(32px, 6px 10px 6px 10px);
  }
}

.bg {
  &-darkGreen {
    background-color: colors.$darkGreen;
    color: colors.$white;
  }

  &-gray {
    background-color: colors.$gray;
    color: colors.$white;
  }
}
