@use '@/styles/abstract/typography' as typography;

// 순서: $size, $line-h, $weight, $spacing, $pc-size
.variant {
  &-heading1 {
    @include typography.text-variant(28px, 1, 700, -0.03em, 48px);
  }
  &-heading2 {
    @include typography.text-variant(15px, 1.1, 700, -0.04em, 22px);
  }
  &-heading3 {
    @include typography.text-variant(14px, 1.4, 400, -0.05em, 22px);
  }

  &-paragraph {
    @include typography.text-variant(14px, 1.4, 400, 0, 18px);
  }

  &-link {
    @include typography.text-variant(12px, 1.4, 700, -0.025em, 14px);
  }
  &-captions {
    @include typography.text-variant(10px, 1.4, 400, -0.03em, 12px);
  }
  &-body1 {
    @include typography.text-variant(14px, 1.4, 700, 0);
  }
  &-body2 {
    @include typography.text-variant(13px, 1.3, 700, 0);
  }
  &-b4 {
    @include typography.text-variant(13px, 1.3, 500, 0);
  }
}
