.variant {
  &-default {
    position: relative;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-thumbnail {
    position: relative;
    width: 100%;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }
}
