.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 1;

  .svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  &.size-small {
    width: 12px;
    height: 12px;
  }
  &.size-medium {
    width: 16px;
    height: 16px;
  }
  &.size-large {
    width: 24px;
    height: 24px;
  }
}
