@use '@/styles/abstract/colors' as colors;
@use '@/styles/abstract/breakpoints' as bp;

.label_wrap {
  display: flex;
  margin-bottom: 80px;
}

.underline {
  position: relative;
  flex: 1;
  padding: 15px 0 14px;
  background-color: colors.$white;
  color: colors.$gray;
  border: none;

  @include bp.pc-view {
    padding: 25px 0 21px;
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2.5px;
    background-color: colors.$gray;
    content: '';
  }

  &.active {
    color: colors.$darkGreen;
    &::before {
      height: 4px;
      background-color: colors.$darkGreen;
    }
  }
}
